.userView a span {
  color: black !important;
}

nav {
  height: 120px !important
} 
nav i {
  font-size: 36px;
}
nav ul a,
nav.brand-logo {
  color: white;
}
.mylogo {
  position: absolute;
  display: inline-block;
  font-size: 3.6rem;
  padding: 0;
  white-space: nowrap;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center
}

.mylogo p {
  margin: 0;
  font-size: initial;
}
p {
  line-height: 1.2rem;
  font-family: 'Srisakdi', cursive;
}

@media only screen and (min-width : 768px) {
  .material-icons {
    display: none !important;
  }
}

@media only screen and (max-width : 768px) {
  .mylogo {
    font-size: 2.7rem !important;
    top: 15%;
  }
}

@media only screen and (max-width : 576px) {
    .mylogo {
      font-size: 1.9rem !important;
      top: 20%
    }
}
